# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyright/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Home Assistant generated state
.storage/
.config/
*.log
dev/config/.HA_VERSION
dev/config/.ha_run.lock
dev/config/.cloud/
dev/config/.storage/
dev/config/blueprints/
dev/config/custom_components/
dev/config/deps/
dev/config/tts/
dev/config/automations.yaml
dev/config/home-assistant.log*
dev/config/home-assistant_v2.db*
dev/config/scenes.yaml
dev/config/scripts.yaml
dev/config/secrets.yaml
